#RagdollRumble {
    background-color: floralwhite;
    color: rgb(122, 92, 59);
    border: 3px solid rgb(122, 92, 59);
    border-radius: 10px;
    margin: 30px;
}

#RagdollRumble h1 {
    font-family: Constantia !important;
    text-decoration-line: underline;
    font-size: 35px;
}

#RagdollRumble h2 {

    font-family: Constantia !important;
    text-decoration-line: underline;
    font-size: 27px;
}

    #RagdollRumble p {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: 3px solid rgb(122, 92, 59);
        border-radius: 10px;
        background-color: white;
        text-align: center;
        white-space: pre-wrap;
    }

    #RagdollRumble .earth {
        color: rgb(255, 200, 48);
        font-weight: bold;
    }

    #RagdollRumble .wind {
        color: rgb(182, 255, 123);
        font-weight: bold;
    }

    #RagdollRumble .water {
        color: rgb(86, 154, 255);
        font-weight: bold;
    }

    #RagdollRumble .fire {
        color: rgb(253, 98, 21);
        font-weight: bold;
    }

    #RagdollRumble .chaos {
        color: rgb(138, 78, 175);
        font-weight: bold;
    }

    #RagdollRumble .subheading {
        font-family: Constantia !important;
        text-decoration-line: underline;
        font-size: 27px;
        font-weight: bold;
    }

#RagdollRumble table {

    border: 3px solid rgb(122,92,59);
    border-radius: 6px;
    background-color: white;
}

#RagdollRumble iframe {
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    width: 100%;
}

.CodeMirror-cursor,
.CodeMirror div.CodeMirror-secondarycursor{
    border-color: rgb(54, 46, 37) !important;
}